/* 注意: 代が変わろうとも、Arialは絶対に使うな */

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
}

/* Header Styling */
header {
    background-color: #415d49;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s, opacity 0.3s;
}

header.scrolled {
    background-color: rgba(56, 69, 56, 0.95);
}

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}


/* Main Content Styling */
main {
    background: linear-gradient(244deg, #d68834, #8eac10, #8fa537, #d16c47, #bb653d, #a1bd35, #b9cf61);
    background-size: 800% 800%;
    animation: GradientBackground 20s ease infinite;
    padding-top: 110px;
}

@keyframes GradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

main h2 {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    padding-top: 30px;
    margin: 0 0 0 0;
}

main p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}


/* Footer Styling */
footer {
    border-top: 1mm solid rgba(252, 154, 44, 0.44);
    background: linear-gradient(45deg, rgba(50, 59, 17, 1) 0%, rgba(60, 37, 12, 1) 52%, rgba(32, 10, 0, 1) 100%);
    color: white;
    padding: 0px;
    font-family: 'fot-tsukuardgothic-std', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Vertically center both sections */
}

div#footer-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
    width: 50%;
    margin: 0 auto;
}
div#credit {
    align-items: center;
}

p#cc {
    font-size: 14px;
}

p#credits {
    font-size: 10px;
}

#footer-credits {
    font-size: 0.9rem;
    text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
    #footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    #logo-container {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .event-info {
        width: 100%;
        text-align: left;
    }
}